.menu-btn
{
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;


    .btn-lines
    {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: set-color-text($primary-color);
        @include easeOut;
    }


    //Rotate into x with menu line
    &.close
    {
        transform: rotate(180deg);


        .btn-lines{
            //Line 1- Rotate
            &:nth-child(1)
            {
                transform: rotate(45deg) translate(8px,2.5px);
            }
            //Line 2- Hide
            &:nth-child(2)
            {
                display: none;
            }
            //Line 3- Rotate
            &:nth-child(3)
            {
                transform: rotate(-45deg) translate(4px,2.5px);
            }
        }
    }


}

//Overlay
.menu
{
    position: fixed;
    top:0;
    width:100%;
    visibility: hidden;

    &.show
    {
        visibility: visible;
    }

    &-branding,
    &-nav
    {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav
    {
        margin: 0;
        padding: 0;
        background: rgba(darken($primary-color,10),0.9);
        list-style: none;
        transform:translateX(100%) ;
        @include easeOut;


        &.show
        {
            transform: translateX(0);
        }
    }

    //Branding Side
    &-branding
    {
     background: rgba($primary-color,0.8); 
     @include easeOut;
     transform: translateX(-100%);
    
     &.show
     {
         transform: translateX(0);
     }

     .potrait
     {
         height: 350px;
         width: 350px;
         background: url('../img/profile.jpeg');
         background-size: cover;
         background-repeat: no-repeat;
         border: solid 5px $secondary-color;
         border-radius: 50%;
     }
    
    }

    .nav-item
    {
        transform: translateX(1000px);
        @include easeOut;
        &.show
        {
            transform: translateX(0px);
        }

        &.current > a
        {
            color: $secondary-color;
        }
    
    }

    .nav-link
    {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: set-color-text($primary-color);
        text-decoration: none;
        @include easeOut;

        &:hover
        {
            color: $secondary-color;
        }
    }

}

// Delay each nav item slide by 0.1s
@for $x from 1 through 5
{
    .nav-item:nth-child(#{$x})
    {
        transition-delay: $x*0.1s;
    }
}

