@import 'config';
@import 'menu';

*
{
    box-sizing: border-box;
}

body{
    @include background;
    background: $primary-color;
    color:set-color-text($primary-color);
    height: 100%;
    margin:0;
    font-family: 'Segone UI',Tahoma,Geneva,Verdana,sans-serif;
    line-height: 1.5;
}

//headings
h1,h2,h3{
    margin: 0;
    font-weight: 400;

    &.lg-heading
    {
        font-size: 6rem;
    }
    &.sm-heading
    {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, $amount: 2),0.5);
        max-width: max-content;
    }
}

a{
    color: set-color-text($primary-color);
    text-decoration: none;
    ion-icon
    {
        font-size: 2.4em;
    }
   
}

header
{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary
{
    color: $secondary-color;
}

main{
    padding: 4rem;
    height: 100%;

    .icons 
    {
        margin-top: 1rem;

        a
        {
            padding: 0.4rem;

            &:hover
            {
                color: $secondary-color;
                @include easeOut;
            }
        }


    }

    &#home
    {
        overflow: hidden;
        h1
        {
            margin-top: 20vh;
        }
    }

}

.about-info
{   

    grid-gap:30px;
    display: grid;
    grid-template-areas: 
    'bioimage bio bio'
    'heading heading heading'
    'exp1 exp2 exp3';
    grid-template-columns: repeat(3,1fr);

    .bio-image
{
    grid-area: bioimage;
    height: 20vh;
    width:20vh;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
}
.bio
{
    grid-area: bio;
    font-size: 1.5rem;
}

.achievments
{
    grid-area: heading;
    margin: auto;
    font-size: 2rem;
    color: $secondary-color;
    &::after
    {
        content:'';
        display: block;
        width:auto;
        height: 3px;
        background-color:set-color-text($primary-color);
    }
}
.exp1
{
    grid-area: exp1;
}
.exp2
{
    grid-area: exp2;
}
.exp3
{
    grid-area: exp3;
}

.projects
{
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px dotted;
}


}
//Skills.Projects

.skills
{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3,1fr);

    img
    {
        width: 100%;
        border: 3px set-color-text($primary-color) solid;

        &:hover
        {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}
//Contact Page

.boxes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    margin: auto;

    div
    {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover
        {
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-color-text($secondary-color);
            span
            {
                color: set-color-text($secondary-color);
            }
        }
    }
}







//Buttons-Styles

.btn
{
    display:inline-block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    @include easeOut;

    &:hover
    {   
        background: $secondary-color;
        color: set-color-text($primary-color);
    }
    ion-icon
    {
        display: inline-block;
        transform: translateY(20%);
    }
    p
    {
        display: inline-block;
        transform: translateY(-20%);
    }
}



.btn-dark
{
    @extend .btn;
    border-radius: 50%;
    background: darken($primary-color,50);
    color: #fff;
    width: max-content;


}

.btn-light
{
    @extend .btn;
    border-radius: 50%;
    background: lighten($primary-color,50);
    color: #333;
    width: max-content;
    
}




@import 'mobile';
