// Widescreen

@include mediaXl
{

}
//Desktop and laptops
@include mediaLg
{
    
}

// Tablets & Small Laptops
@include mediaMd
{
    main
    {
        align-items: center;
        text-align: center;

        .lg-heading
        {   
            line-height: 1;
            margin-bottom: 1rem;
        }

    }

    ul.menu-nav,
    div.menu-branding
    {
        float: none;
        width:100%;
    }
    .menu-branding
    {
        height: 25vh;
        min-height: 150px;
        
        .potrait
        {
            height: 150px ;
            width: 150px;
            background-size: cover;
        }
    }
    .menu-nav
    {
        height: 75vh;
        font-size: 24px;
    }

    #about
    {
        .lg-heading
        {
            text-align: center;
        }
        .sm-heading
        {
            margin: auto;
            text-align: center;
        }
        

    }
    .about-info
    {
        grid-template-areas: 
        ' bioimage'
        'bio'
        'heading'
        'exp1'
        'exp2'
        'exp3';
        grid-template-columns: 1fr;
    }

}
// Smart Phones
@include mediaSm
{
    main#home h1
    {
        margin-top: 10vh;
    }
}